<% provide(:title, "Gallery") %>

<h1>Gallery</h1>
<p>Below, XX's artwork can be found, organized by type (landscape, figure drawing, etc.)</p>
<%= link_to "Landscapes", landscapes_path %>
<%= link_to "Portraits",   portraits_path %>
<%= link_to "Still lifes", stilllifes_path %>
<%= link_to "Drawings", drawings_path %>
<%= link_to "Photography", photography_path %>
<%= link_to "Figures", figures_path %>